.form {
    display: flex;
    border: 2px solid #D3D3D3;
    border-radius: 500px;
  }
  
  .inputChat {
    border: none;
    border-radius: 500px;
    padding: 3% 5%;
    width: 90%;
    font-size: 0.8em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff;
    text-decoration: none;
    background: #214ED3;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    border: none;
    width: 10%;
    border-radius: 500px;
  }
