.messages {
  margin-bottom: 3%;
  overflow: auto;
  max-height: 80%;
  min-height: 79%;
  /* background-color: pink; */
}

.mgs01 {
  width: 100%;
  margin-top: 25px;
  float: left;
}
.mgs011 {
  width: 75%;
  float: left;
}
.mgs0111 {
  float: left;
  width: 45px;
  height: 45px;
}
.mgs0111 img {
  width: 100%;
  height: 100%;
  border-radius: 500px;
}
.mgs0111name {
  float: right;
  /* background-color: blue; */
  width: calc(100% - 55px);
  padding-top: 2px;
  padding-bottom: 5px;
  /* margin-left: 50px; */
  font-size: 13px;
  font-weight: 600;
}
.mgs0111name1 {
  float: left;
  text-align: right;
  /* background-color: blue; */
  width: calc(100% - 55px);
  padding-top: 0px;
  padding-bottom: 5px;
  /* margin-left: 50px; */
  font-size: 13px;
  font-weight: 600;
}
.mgs0112 {
  float: left;
  max-width: calc(100% - 158px);
  margin-left: 7px;
  width: auto;
  font-size: 12.5px;
  border-radius: 15px;
  line-height: 22px;
  background-color: #F3F3F3;
  padding: 7px 20px;
}
.mgs012 {
  width: 75%;
  float: right;
}
.mgs0121 {
  float: right;
  width: 45px;
  height: 45px;
}
.mgs0121 img {
  width: 100%;
  height: 100%;
  border-radius: 500px;
}
.mgs0122 {
  float: right;
  max-width: calc(100% - 88px);
  width: auto;
  margin-right: 10px;
  font-size: 12.5px;
  border-radius: 15px;
  line-height: 22px;
  background-color: #214ED3;
  color: white;
  padding: 7px 20px;
}