
#slider {
    overflow: hidden;
}
.fig_ure{
    position: relative;
    margin: 0%;
    width: 500%;
    left: 0;
    animation: 20s slider infinite;
    }
    .imgs_div{
        float: left;
        width: 20%;
        height: 350px;
    }

    @keyframes slider{
        0%{left: 0;} 
        20%{left: 0;}
        25%{left: -100%;}
        45%{left:-100%;}
        50%{left:-200%;}
        70%{left:-200%;}
        75%{left: -300%;}
        95%{left: -300;}
       100%{left:-300%;}
    }

    .hynudai{
       max-width: 1100px;
        width: 90%;
        float: left;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .hydai1{
        width: 100%;
        margin-top: 40px;
        float: left;
    }
    .hydai2{
        float: right;
        margin-top: -40px;
        display: flex;
        margin-right: 18%;
    }
    .hydai3{
        margin-left: 0;
        margin-top: 40px;
        float: left;
    }
    .hydai4{
        float: right;
        margin-top: -22px;
        margin-right: 80%;
    }
    .hydai5{
        margin-left: 15%;
        margin-top: 40px;
        float: left;
    }
    .hydai6{
        float: right;
        margin-top: -20px;
        margin-right: 74%;
    }
    .hydai7{
        margin-left: 72%;
        margin-top: -70px;
        float: right;
    }

    .hydai8{
        float: right;
        margin-right: 105%;
        margin-top: -70px;
    }
    .hydaiimg {
        width: 45px;
        height: 45px;
        background-position: center;
        border-radius: 50px;
    } 
    .hydai9{
        margin: 8% 15%;
        margin-bottom: 40px;
    }
    .hydai9 input{
        width: 48%;
        height: 1.5rem;
        padding: 2px;
        margin-left: 5px;
    }
    .hydai10{margin: 8px;
    }
    .hydai10 label{
        font-size: 20px;
        font-weight:bold ;
    }
    .hydai11{
    margin: 0% 15%;
   }
   .hydai11 input{
       width: 48%;
       height: 1.5rem;
       padding: 2px;
       margin-left: 5px;
   }
   .hydai12{margin: 8px;
   }
   .hydai12 label{
       font-size: 20px;
       font-weight:bold ;
   }
   .hydai13{
    font-weight: 600;
    margin: 7% 15% 0;
    font-size: 25px;
   }
   .hydai14{
    margin: 2px 15% 0;
   }
   .hydai14 textarea{
    padding: 10px;
    height: 200px;
    width: 97%;
}
   

.features{
    margin: 3% 15% 0;
}



@media only screen and (max-width: 768px){
    
}