
.Profile {
    margin: 70px 17%;
    width: 20%;
    height: 460px;
    box-shadow: 0px 0px 7px 3px rgb(0 0 0 / 30%);
}
  

.p1{
    height: 50px;
    text-align: center;
    padding: 40px 0px 0px;
    font-size: 25px;
    cursor: pointer;
   
}
.p1:hover{
    background-color:#DCDCDC;
    
}
.profile_pic {
  width: 25px;
  height: 25px;
  float: left;
  margin-left: 50px;
  border-radius: 50px;
    
}
.profile_pic {
    background-color: rgb(240, 240, 240);
}
.img {
    width: 100%;
    height: 100%;
}

.p2{
    height: 50px;
    text-align: center;
    padding: 40px 0px 0px;
    font-size: 25px;
    cursor: pointer;
  }
  .p2:hover{
    background-color:#DCDCDC;

}
.p3{
    height: 50px;
    text-align: center;
    padding: 40px 0px 0px;
    font-size: 25px;
    cursor: pointer;
}
.p3:hover{
    background-color:#DCDCDC;
  
}
.div_0{
  margin-top: -39.5%;
  margin-left: 10%;
}.div_1{
  margin-top: -39%;
  margin-left: 10%;
}

.p5{
   font-family:  sans-serif;
    margin-left: 32%;
    color: dimgray;
}

.p4{
margin-left: 32%;
margin-top: 15px;

}
.p4 img {

        width: 80px;
        height:80px;
        background-position: center;
        border-radius: 50px;
  }
  .p6{
    margin-left: 32%;
    margin-top: 5px;
    margin-bottom: 15px;
    color: dimgray;
    font-size: 30px;
  

}
  
  .p7{
    width: 66%;
    height: 50px;
    padding: 20px 15px;
    border-color: darkgray;

  
  }
  .p8{
      margin-left: 32%;
      margin-top: 20px;
     
  }
  .p8_1{
 
    padding: 10px 15px;
    width: 66%;
    border: 1px solid rgb(164, 164, 164);
   
  }
  .p8_2{
    padding: 10px 15px;
    width: 66%;
    border: 1px solid rgb(164, 164, 164);

  }
  .p9{
    margin: 15px 32%;
    padding: 7px 20px;
    border-radius: 22px;
    background-color:#0277bd;
    color: white;
    cursor: pointer;
    border: none;
  }
  .p9-1{
    margin: 10px 18.5%;
    padding: 7px 25px;
    border-radius: 22px;
    cursor: pointer;
    background: white;
    
  }
  .p6_1{
  
        margin-top: 10px;
        margin-left: 32%;
        font-size: 20px;
    color: dimgray;
    font-family: 'Inter';


  }
  .p6_3 {
    margin-top: 30px;
    margin-left: 32.5%;
    color: dimgray;
    font-family: 'Inter';

}
.p6_4{
  margin-left: 32%;
  color: dimgray;
  margin-top: 10px;
  font-size: 20px;

}

  .p9_1 {
    margin: 10px 19.3%;
    padding: 4px 15px;
    border-radius: 22px;
    background-color: white;
  }
  .p10{
    margin-left: 20px;

  }
  .p11{
  
    margin-top: -44%;
    margin-left: 32%;

  }
  .p6_2 {
    margin-top: 40px;
    margin-left: 32%;
    color: dimgray;

}
.Review{
  font-family:  sans-serif;
  margin-left: 32%;
  /* background-color: blue; */
  margin-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  color: dimgray;
}


.Reviews0 {
  border: none;
    /* border-width: none; */
    width: 47%;
    margin: 20px 10px 15px 32%;
    height: 150px;

}
.Reviews01 {
  
  width: 17%;
  height: 150px;


}

.Reviews02 {

  margin-top: -28%;
  margin-left: 15%;

}
.Reviews021 {
  margin: 10px 0 0;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;


}
.Reviews022 {
  margin: 5px 0 0;
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
  color: grey;
 

}
.Review023 {
  margin: 15px 0 0;
  font-size: 15px;
  font-family: sans-serif;
  color: grey;

 
}.Reviews0222 {
  margin: 17px 0 0;
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
  color:"black"
 

}
.p4_1{
  margin: 10px;
}

  .p4_1 img {
  
 width: 60px;
  height:60px;
 background-position: center;
  border-radius: 50px;
        
    }
.hr{
  margin: 30px 21% 10px 32%;
  border-color: transparent 
}
.Icons0{
margin-top: -22px;
margin-left: 55%;

}.Icons1{
  margin-top: -21px;
  margin-left: 54%;
  
  }

 @media only screen and (max-width: 720px) {

      .Profile {
        width: calc(100% - 29%);
        height:  calc(100% - 20%);
        }
        .div_0{
          margin-top: -14%;
          margin-right: 30px;
        }
        .p8{
          margin-inline: auto;
          text-align-last: center;
        }
        .p9{
          margin: 15px 36%;
        }.Reviews0 {
          width: calc(100% - 0%);
          margin: 10px 1px 1px 1px;
          height: 170px;
        }.Reviews02{
          margin-top: -53%;
          margin-left: 27%;

        }.hr{
          margin: 25px 21% 10px 22%;
        }.div_1{
          margin-top: -10%;
          margin-right: 20px;
        }.p6_1{
          text-align: center;
           margin-left: 5px;
        }.p5{
           text-align: center;
           margin-left: 0;
           }.p9-1{
            margin: 6px 35%;
           }.Icons0{
            margin-left: 85%;
            margin-top: -21px;
           }.p9_1{
            margin: 10px 29%;
           }.Icons1{
            margin-left: 85%;
            margin-top: -21px;
           }.p4 {
            margin-left: 36%;
          }
            .p6 {
              margin-left: 33%;
            }.p6_2 {
              margin-top: 20px;
              margin-left: 15%;}
              .p6_4 {
                margin-left: 0px;
              }.p6_3 {
              
                margin-left: 29%;
              }
  }
